<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      设备
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content base-content-no-scroll="">
  <ion-list>
    <ion-item-group>
      <a ion-item (click)="deviceGroupClick()">
        <ion-avatar item-start>
          <img [src]="'./assets/images/Distribution/dis_group@2x.png'" alt="">
        </ion-avatar>
        配电箱组<span *ngIf="box != null">({{box?.group_count}})</span>
      </a>
    </ion-item-group>
    <div class="line"></div>
    <ion-item-group>
      <a ion-item detail-none >
        <ion-avatar item-start>
          <img [src]="'./assets/images/Distribution/dis_box@2x.png'" alt="">
        </ion-avatar>
        配电箱<span *ngIf="box != null">({{box?.equipments.length}})</span>
      </a>
      <a ion-item detail-none *ngFor="let equ of box?.equipments" (click)="deviceClick(equ)">
        <ion-avatar item-start>
        </ion-avatar>
        {{equ?.name}}
        <img item-end="" [src] = "'./assets/images/Distribution/dis_lian@2x.png'" *ngIf="equ?.is_default == 1"/>
      </a>
    </ion-item-group>
  </ion-list>
</ion-content>
