add-device{
  ion-content{
    background-color: color($colors,bkColor) !important;
  }
  ion-list{
    padding-top: 9px;
  }
  ion-list ion-avatar img{
    border-radius: 0px !important;
  }
  ion-list a:first-of-type[class*=activated]{
    background-color: white !important;
  }
  ion-list > .item-block:first-child{
    border-top: 0 !important;
  }
  ion-list >.item-block:last-child{
    border-bottom: 0 !important;
  }
}
